<%= link_to 'Edite seu cadastro', edit_user_registration_path %>||

<%= link_to 'Página de administração de usuários', rails_admin_path %><br>

<div class="Link">
<%= button_to 'Logout', destroy_user_session_path, method: :delete  %>
</div>